ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  overflow: hidden;
  border-bottom: 2px solid black;
}

a.nav-home {
  float: left;
  padding-right: 4px;
  text-decoration: none;
}

a.nav-username {
  float: right;
  padding-right: 10px;
  text-decoration: none;
}

a.nav-signout {
  float: right;
  padding-right: 10px
}
